@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* 300,600, 800 */
* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
    --background: hsl(0, 0%, 98%);
    --elements: hsl(0, 0%, 100%);
    --box-shadow: rgb(206, 206, 206);
}

.darkmode {
    --elements: hsl(209, 23%, 22%);
    --background: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
    --box-shadow:hsl(210, 21%, 5%);
}

body {
    transition: all .7s;
}

header {
    width: 100%;
    height: 80px;
    padding: 0 5% 0 5%;
    background-color: var(--elements);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 6px var(--box-shadow);
    position: sticky;
    top: 0;
}

.headline {
    color: var(--text);
    font-size: 1.6rem;
    font-weight: 800;

}

#darkmode {
    margin-left: auto;
    width: 120px;
    height: 50px;
    font-size: .9rem;
    font-weight: 800;
    border: none;
    background-color: var(--elements);
    color: var(--text);

}

.fa-regular {
    position: relative;
    left: 8px;

}

.darkmode .fa-regular {
    opacity: 0;
}

.fa-solid.fa-moon {
    position: relative;
    right: 8px;
    color: var(--text);
    opacity: 0;

}

.darkmode .fa-solid.fa-moon {
    opacity: 1;
}

main {
    background-color: var(--background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px 0;
}

#search {
    width: 40%;
    height: 50px;
    background-color: var(--elements);
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 80px;
    color: var(--text);
    background-image: url(images/magnifying-glass-gray.svg);
    background-repeat: no-repeat;
    background-position: 6%;
}

.darkmode #search::placeholder {
    color: var(--text);
}

.darkmode #search {
    background-image: url(images/magnifying-glass-white.svg);
}

select {
    width: 15%;
    min-width: 200px;
    border-radius: 6px;
    border: none;
    background-color: var(--elements);
    outline: none;
    color: var(--text);
    padding: 16px;
}

.country-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.country-card {
    width: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 5px var(--box-shadow);
    cursor: pointer;
}

.flag-container {
    width: 100%;
    height: 170px;
}

.flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.info-container {
    background-color: var(--elements);
    padding: 20px 20px 40px 20px;
    margin-top: -5px;
}

.country-name {
    color: var(--text);
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.label {
    color: var(--text);
    font-weight: 600;
    font-size: .9rem;
    margin: 4px 0 4px 0;
}

.country-info .label {
    font-size: 1rem;
}

.region, .population, .capital, .native-name, .domain, .currency, .languages, .subregion {
    font-weight: 300;
}

#detail-page {
    display: none;
    width: 100%;
    background-color: var(--background);
    position: fixed;
    top: 80px;
    flex-direction: column;
}

#back-button {
    width: 140px;
    height: 40px;
    border: none;
    margin-left: 5%;
    margin-top: 80px;
    padding-left: 12px;
    background-image: url(images/arrow-left-black.svg);
    background-repeat: no-repeat;
    background-position: 25%;
    border-radius: 6px;
    background-color: var(--elements);
    box-shadow: 1px 1px 10px var(--box-shadow);
    color: var(--text);
    cursor: pointer;
}

.darkmode #back-button {
    background-image: url(images/arrow-left-white.svg);
}

.detail-container {
    width: 90%;
    margin: 80px 0 0 5%;
    display: flex;
}

.flag-display {
    width: 40%;
    display: flex;
    align-items: center;
}

.big-flag {
    width: 100%;
}

.country-info {
    width: 60%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-country-name {
    font-size: 2rem;
    font-weight: 800;
    color: var(--text);
    margin-bottom: 12px;
}

.country-stats {
    margin: 12px 0 24px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-span-2 {
    grid-column: span 2;
}

.country-btn {
    min-width: 100px;
    width: fit-content;
    height: fit-content;
    border: none;
    box-shadow: 1px 1px 5px var(--box-shadow);
    background-color: var(--elements);
    color: var(--text);
    margin-left: 6px;
    cursor: pointer;
    padding: 4px 8px 4px 8px;
}

.border-container .label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.row-span-3 {
    grid-row: span 3;
}


@media screen and (max-width: 440px) {
    .headline {
        font-size: 1rem;
    }
    
    #darkmode {
        font-size: .9rem;
        font-weight: 600;
    }

    .search-container {
        flex-direction: column;
        margin: 24px 0 24px 0;
    }

    #search {
        width: 100%;
        margin-bottom: 12px;
    }

    select {
        width: 240px;
        margin-top: 12px;
    }

    .country-container {
        display: flex;
        flex-direction: column;
    }

    #back-button {
        margin-top: 60px;
    }

    .detail-container {
        margin: 40px 0 0 5%;
        flex-direction: column;
    }
    
    .flag-display {
        width: 100%;
    }
    
    .country-info {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .detail-country-name {
        font-size: 1.8rem;
        margin-bottom: 12px;
        margin-top: 24px;
    }
    
    .country-stats {
        margin: 12px 0 24px 0;
        display: flex;
        flex-direction: column;
    }

    .border-container .label {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .row-span-3 {
        grid-column: span 3;
    }
    
}